@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body #bmc-iframe {
  z-index: 9999 !important;
  height: 500px !important;
  width: 25% !important;
  min-width: 300px !important;
  min-height: unset !important;
  max-width: 420px;
  max-height: 620px;
}